fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

python-dotenv
pydantic
pydantic-settings
email-validator

passlib[bcrypt]==1.7.4
bcrypt==3.2.0
python-jose[cryptography]

redis
rq
rq-scheduler

python-multipart

requests

braintree

reportlab

gspread
google-auth
google-auth-oauthlib


